.body{
    font-family: Tahoma;
    margin-top: 0%;
    padding: 0%;
}

.banner{
    margin-top: 0%;
    padding: 0%;
    width: 100%;
    height: 500px;
    margin-top: 0%;
}



.header{
    margin-top: 0%;
    width: 100%;
    height: 70px;
    background-image: linear-gradient( pink, purple);
    text-decoration: none;
}
.header>.title{
    display: inline-block;
    width: 55%;
    margin-top: 20px;
    margin-left: 50px;
}

.title >li{
    display:inline-block;
    text-decoration: none;
    list-style-type: none;
    margin-left: 55px;
}
.a>a{
    color: rgb(11, 76, 133);
    text-decoration: none;
    font-family: Tahoma;
    font-weight: bolder;
    font-size: 15pt;
    
}

.a>a:hover{
    color: gold;
    
}

.a:hover{
    color: gold;
}


.texta{
    color: chartreuse;
}

.search{
    border: 0px solid rgb(111, 209, 30);
    border-radius: 15px;
    width: 250px;
    height: 30px;
    margin: 7px;
}

.header>input{
    margin-left: 35px;
}

.button{
    margin-left: 30px;
}



.login{
    font-size: 15pt;
    text-decoration: none;
    margin-left: 25px;
    margin-bottom: 10px;
    border: 3px solid rgb(184, 173, 111);
    border-radius: 3px;
    background-color: rgb(26, 121, 108);
    width: 120px;
    height: 50px;
    color: rgb(241, 240, 239);
}

.login:hover{
    background-color: rgb(111, 209, 30);
}

.cart:hover{
    color: red;
}

.cart{
    color: rgb(84, 92, 15);
    margin-top: 10px;
    margin-left: 35px;
}

Link{
    border: 2px solid black;
}