*{
    box-sizing: border-box;
    font-weight: 500;
    font-size: 16px;
    
}

.container{
    margin-left: 80px;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-gap: 10px;
    padding: 10px;
}
.product-container:hover{
    transition:1s;
    transform: scale(1.05);
}
.product-container{
    width: 230px;
    border: 1px solid #902626;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0px 3px 3px 3px #ededed;
}
.container .info{
    text-align: center;
    margin-top: 1px;
}
.product-image-area{
    padding: 0;
}
.product-image-area .product-image img {
    width: 100%;
}
.product-name{
    color: red;
}
.product-price{
    color: red;
}

.product-size{
    padding: 5px;
}

.add-to-cart{
    margin-bottom: 15px;
    margin-top: 15px;
    margin-left: 60px;
    border: 2px solid red;
    border-radius: 5px;
    background-color: red;
    color: white;
  }