tr th{
    padding-left: 280px;
}
.image{
    margin-top: 25px;
}
.product-name{
    padding-left: 200px;
    padding-bottom: 35px;
}
.product-quantity{
    padding-left: 210px;
}
.product-price{
    padding-left: 250px;
}
.cart-item{
    border: 1px solid black;
}