.body{
    background-color: rgb(170, 117, 156);
}

.form{
    margin-top: 70px;
    margin-left: 655px;
    margin-bottom: 115px;
    width: 300px;
    height: 500px;
    border: 3px solid rgb(188, 195, 64);
    border-radius: 5px;
    display: block;
}

.lable{
    display: block;
    font-family: Tahoma;
    font-weight: bolder;
    color: rgb(112, 93, 67);
}

.h1{
    text-align: center;
    color: rgb(25, 39, 34);
    font-size: 30pt;
    font-weight: bolder;
}

.pass{
    margin-top: 10px;
    margin-left: 45px;
}

.user{
    margin-top: 7px;
    margin-left: 45px;
}

.input{
    margin-top: 5px;
    width: 200px;
    height: 25px;
    border: 2px solid rgb(198, 230, 235);
    border-radius: 5px;
}
.button{
    margin-top: 25px;
    margin-left: 85px;
    width: 130px;
    height: 30px;
    border: 2px solid rgb(213, 214, 209);
    border-radius: 5px;
    font-size: large;
    font-family: Tahoma;
    font-weight: bold;
    color: white;
    background-color: blue;
    margin-bottom: 50px;
}